.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .card {
    position: relative;
    color: black;
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card:hover {
    transform: rotateY(180deg)  scaleX(-1);;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  .card-front,
.card-back {
  -webkit-backface-visibility: hidden; /* Safari on iOS 5+ */
  backface-visibility: hidden;
}

  
  .card-front {
    display: flex;
    background-color: #f5a001;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg) scaleX(-1);;
    background-color: #57190d;
    color: rgb(255, 253, 253);
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
  }
  
  .card-back h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .card-back p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .card-back span {
    font-weight: bold;
  }
  
  .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 50%;
    border-top-left-radius: 10%;
  }
  
  .card .card-info h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .card .card-info p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
 article{
    color: #fff;
    text-decoration: none;
  }